Repository bird-house/finch, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

reformat toml files
  .pylintrc.toml
  pyproject.toml
Labels: CI

remove unsupported locustfile.py, pre-commit autoupdate
  .pre-commit-config.yaml
  tests/locustfile.py
Labels: CI

Bump version: 0.13.2 → 0.13.3-dev.0
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

use nodefaults and update setuptools
  environment-dev.yml
  environment-docs.yml
  environment.yml
Labels: none

use a nonroot user
  Dockerfile
Labels: none

add SBOM and provenance information (no push)
  .github/workflows/docker-testing.yml
Labels: CI

restrict allowed connections
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

try with type=cacheonly
  .github/workflows/docker-testing.yml
Labels: CI

try specifying platform
  .github/workflows/docker-testing.yml
Labels: CI

testing - export to tar
  .github/workflows/docker-testing.yml
Labels: CI

disable until go-live
  .github/workflows/docker-testing.yml
Labels: CI

disable until go-live, add arm64
  .github/workflows/docker-testing.yml
Labels: CI

comment out
  .github/workflows/docker-testing.yml
Labels: CI

comment out all new options
  .github/workflows/docker-testing.yml
Labels: CI

create nonroot user
  Dockerfile
Labels: none

create a HOME dir
  Dockerfile
Labels: none

add conda env
  Dockerfile
Labels: none

set python version in github workflows
  .github/workflows/main.yml
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

Create codeql.yml
  .github/workflows/codeql.yml
Labels: CI

add automatic approval for ci changes
  .github/dependabot.yml
  .github/workflows/auto-accept-ci-changes.yml
Labels: CI

update dependencies
  environment-dev.yml
  environment-docs.yml
  environment.yml
  pyproject.toml
Labels: none

cookiecutter update
  .cruft.json
  .pre-commit-config.yaml
  .readthedocs.yml
  CI/requirements_ci.in
  CI/requirements_ci.txt
  Makefile
  README.rst
  docker-compose.yml
  environment-dev.yml
  pyproject.toml
  src/finch/cli.py
  src/finch/processes/virtual.py
  src/finch/processes/wps_sdba.py
  src/finch/wsgi.py
Labels: CI, docs

pin fastprogress
  environment.yml
  pyproject.toml
Labels: none

pin pandas and others
  environment-dev.yml
  environment-docs.yml
  environment.yml
  pyproject.toml
Labels: none

Bump version: 0.13.3-dev.0 → 0.13.3-dev.1
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

Bump version: 0.13.3-dev.1 → 0.13.3-dev.2
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

allow production.cloudfront.docker.com
  .github/workflows/docker-testing.yml
Labels: CI

Adapt finch for xclim 0.61 and xsdba 0.6
  environment-dev.yml
  environment-docs.yml
  environment.yml
  pyproject.toml
  src/finch/cli.py
  src/finch/processes/__init__.py
  src/finch/processes/ensemble_utils.py
  src/finch/processes/utils.py
  src/finch/processes/wps_base.py
  src/finch/processes/wps_hourly_to_daily.py
  src/finch/processes/wps_sdba.py
  src/finch/processes/wpsio.py
  tests/conftest.py
  tests/test_wps_caps.py
  tests/test_wps_sdba.py
  tests/test_wps_xclim_indices.py
  tests/test_wps_xsubset_point.py
Labels: none

Decrease warnings
  src/finch/processes/ensemble_utils.py
  src/finch/processes/subset.py
  src/finch/processes/utils.py
  src/finch/processes/wps_base.py
  tests/test_wps_ensemble.py
  tests/test_wps_xclim_indices.py
  tests/test_wps_xsubset_bbox.py
  tests/test_wps_xsubset_point.py
Labels: none

suggestions from review
  docs/source/conf.py
  environment-docs.yml
  environment.yml
  pyproject.toml
  src/finch/processes/__init__.py
  src/finch/processes/wpsio.py
Labels: docs

remove non-working mocking from docs - remove non-docs deps from doc env
  docs/source/conf.py
  environment-docs.yml
  environment.yml
  pyproject.toml
Labels: docs

Add builds for 3.13 and 3.14 - help pip who seems to struggle on the ci
  .github/workflows/main.yml
  pyproject.toml
Labels: CI

Use conda for dev deps
  .github/workflows/main.yml
  pyproject.toml
Labels: CI

oups forgot to move upper python pin
  environment-dev.yml
  environment-docs.yml
  environment.yml
Labels: none

CI: Try to use mamba, name env, install finch
  .github/workflows/main.yml
Labels: CI

Abandon this multiple env idea - one env to rule them all. - Also micromamba doesnt contain mamba
  .github/workflows/main.yml
  .readthedocs.yml
  Makefile
  docs/source/dev_guide.rst
  environment-dev.yml
  environment-docs.yml
  environment.yml
Labels: CI, docs

Update a few details in docs and tooling
  .readthedocs.yml
  docs/source/installation.rst
  pyproject.toml
Labels: CI, docs

Put convenience make ruls back - increase sphinx pin - edit dev guide for coherence
  Makefile
  docs/source/dev_guide.rst
  environment.yml
  pyproject.toml
Labels: CI, docs

Apply suggestions from code review
  .github/workflows/main.yml
  docs/source/installation.rst
  environment.yml
Labels: CI, docs

Rm debug cli call - rm numcodecs and pytest-notebooks - use make in CI - no need to print env twice - make commands more explicit
  .github/workflows/main.yml
  .readthedocs.yml
  Makefile
  environment.yml
  pyproject.toml
  src/finch/cli.py
Labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.github/workflows/*'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - 'Makefile'
      - 'docs/Makefile'
      - 'tox.ini'

'dependencies':
  - changes-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'environment*.yml'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CHANGELOG.rst'
      - 'CONTRIBUTING.md'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
