Repository bird-house/finch, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.github/workflows/*'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - 'Makefile'
      - 'docs/Makefile'
      - 'tox.ini'

'dependencies':
  - changes-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'environment*.yml'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CHANGELOG.rst'
      - 'CONTRIBUTING.md'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'

Forgot to upd xscen pins in pyproject
  environment.yml
  pyproject.toml
Labels: none

Update docs/source/installation.rst
  docs/source/installation.rst
Labels: docs

Bump version: 0.13.3-dev.2 → 0.13.3-dev.3
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

use maintained miniforge3 image, add missing env var
  Dockerfile
Labels: none

more open xsdba pin
  environment.yml
Labels: none

typing, accept changes in src
  .gitignore
  src/finch/wsgi.py
Labels: none

wip numpydoc adherence
  .pre-commit-config.yaml
  src/finch/processes/ensemble_utils.py
  src/finch/processes/subset.py
  src/finch/processes/utils.py
Labels: CI

wip gl01 fix
  src/finch/processes/ensemble_utils.py
  src/finch/processes/subset.py
  src/finch/processes/utils.py
  src/finch/processes/wps_base.py
  src/finch/processes/wps_ensemble_indices_bbox.py
  src/finch/processes/wps_ensemble_indices_point.py
  src/finch/processes/wps_ensemble_indices_polygon.py
  src/finch/processes/wps_xclim_indices.py
  src/finch/processes/wpsio.py
Labels: none

drop pytest-flake8
  environment.yml
  pyproject.toml
Labels: none

Potential fix for pull request finding
  src/finch/processes/utils.py
Labels: none

avoid duplicate copies of docker layers
  CHANGELOG.rst
  Dockerfile
  Makefile
  environment.yml
  pyproject.toml
Labels: CI, docs

patch CI since dev not pre-installed in conda-env anymore
  .github/workflows/main.yml
Labels: CI

fix pytest-flake8 compat with pytest>=9 / ignore test files
  .dockerignore
  .gitignore
  pyproject.toml
Labels: none

update pre-commit, ignore GL08, exclude processes docstrings for now
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI

remove pytest no:flake8 option
  pyproject.toml
Labels: none

remove sphinx via pywps workaround (relates to #544)
  Dockerfile
  environment.yml
Labels: none

remove useless import
  tests/conftest.py
Labels: none

move gunicorn dep as direct conda package
  environment.yml
Labels: none

WIP
  src/finch/processes/ensemble_utils.py
  src/finch/processes/wps_ensemble_indices_bbox.py
  src/finch/processes/wps_ensemble_indices_point.py
  src/finch/processes/wps_ensemble_indices_polygon.py
  src/finch/processes/wpsio.py
Labels: none

mark clisops version to skip, update docstring
  environment.yml
  pyproject.toml
  src/finch/wsgi.py
Labels: none

expose 'min_members' parameter for ensemble percentiles; add tests
  src/finch/processes/ensemble_utils.py
  tests/test_wps_ensemble.py
Labels: none

changelog
  CHANGELOG.rst
Labels: docs

update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs

ruff
  src/finch/processes/wpsio.py
Labels: none

Bump version: 0.13.3-dev.3 → 0.13.3-dev.4
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

Update CHANGELOG for v0.14.0 changes
  CHANGELOG.rst
Labels: docs

Bump version: 0.13.3-dev.4 → 0.13.3-dev.5
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

update Dockerfile style and metadata conventions
  Dockerfile
  pyproject.toml
Labels: none

add Zenodo DOI, adjust badges
  README.rst
Labels: docs

Adjust Dockerile testing
  .github/workflows/docker-testing.yml
Labels: CI

add docker publishing workflow
  .github/workflows/docker-publish.yml
Labels: CI

fix bumpversion permissions
  .github/workflows/bump-version.yml
Labels: CI

add cache-downloads-key
  .github/workflows/main.yml
Labels: CI

update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs

update CHANGELOG and cleaner bump-my-version config
  CHANGELOG.rst
  pyproject.toml
Labels: docs

metadata and concurrency fixes
  .github/workflows/docker-publish.yml
  Dockerfile
Labels: CI

concurrency fixes
  .github/workflows/docker-testing.yml
  .github/workflows/main.yml
Labels: CI

use search instead of parse
  pyproject.toml
Labels: none

Drop lxml
  environment.yml
  pyproject.toml
  tests/_common.py
  tests/test_wps_xclim_indices.py
  tests/test_wps_xsubset_point.py
Labels: none

fix annotations
  tests/_common.py
Labels: none
