Repository bird-house/finch, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

typo fix
  pyproject.toml
Labels: none

Bump version: 0.12.1 → 0.13.0-dev.0
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

Bump version: 0.13.0-dev.0 → 0.13.0
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

ignore changes to bumped files
  .github/workflows/bump-version.yml
Labels: CI

audit connections
  .github/workflows/publish-pypi.yml
  .github/workflows/tag-testpypi.yml
Labels: CI

the package is called birdhouse-finch
  pyproject.toml
Labels: none

update release date
  CHANGELOG.rst
Labels: docs

allow four scenarios
  src/finch/processes/wpsio.py
Labels: none

update CHANGELOG.rst, fix conda config
  CHANGELOG.rst
  environment-dev.yml
Labels: docs

update pre-commit
  .pre-commit-config.yaml
Labels: CI

typo fix
  .pre-commit-config.yaml
Labels: CI

Bump version: 0.13.0 → 0.13.1-dev.0
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

Bump version: 0.13.1-dev.0 → 0.13.1
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

pin sphinx
  environment-docs.yml
  pyproject.toml
Labels: none

Update dependabot.yml
  .github/dependabot.yml
Labels: none

pin xarray and dask
  environment-docs.yml
  environment.yml
  pyproject.toml
Labels: none

Bump version: 0.13.1 → 0.13.2-dev.0
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

add horizon WIP
  src/finch/processes/ensemble_utils.py
  src/finch/processes/wps_ensemble_indices_bbox.py
  src/finch/processes/wps_ensemble_indices_point.py
  src/finch/processes/wps_ensemble_indices_polygon.py
  src/finch/processes/wpsio.py
Labels: none

add climatoological_op and delta calcs
  src/finch/processes/ensemble_utils.py
Labels: none

xarray version
  environment.yml
Labels: none

test_data config
  tests/test_data.yml
Labels: none

add test
  tests/test_wps_ensemble.py
Labels: none

Update src/finch/processes/ensemble_utils.py
  src/finch/processes/ensemble_utils.py
Labels: none

linting
  src/finch/processes/ensemble_utils.py
Labels: none

test csv output
  tests/test_wps_ensemble.py
Labels: none

add horizon in index for csv
  src/finch/processes/utils.py
Labels: none

check for at least 30 years
  src/finch/processes/ensemble_utils.py
Labels: none

test failure not enough years
  tests/test_wps_ensemble.py
Labels: none

linting : long line
  src/finch/processes/wpsio.py
Labels: none

update CHANGELOG.rst [skip ci]
  CHANGELOG.rst
Labels: docs

trigger final build
  CHANGELOG.rst
Labels: docs

Bump version: 0.13.2-dev.0 → 0.13.2-dev.1
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

fix: CI/requirements_ci.txt to reduce vulnerabilities
  CI/requirements_ci.txt
Labels: none

adjust pins to prevent numcodecs issue
  environment.yml
  pyproject.toml
Labels: none

sync pins
  environment.yml
  pyproject.toml
Labels: none

update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs

update CHANGELOG.rst, pre-commit autoupdate
  .pre-commit-config.yaml
  CHANGELOG.rst
Labels: CI, docs

Bump version: 0.13.2-dev.1 → 0.13.2
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

update pre-commit configuration
  .pre-commit-config.yaml
Labels: CI

update workflows to trigger on `main`
  .github/workflows/bump-version.yml
  .github/workflows/docker-testing.yml
  .github/workflows/main.yml
Labels: CI

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.github/workflows/*'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - 'Makefile'
      - 'docs/Makefile'
      - 'tox.ini'

'dependencies':
  - changes-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'environment*.yml'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CHANGELOG.rst'
      - 'CONTRIBUTING.md'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'
