Repository bird-house/finch, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

'CI':
  - changed-files:
    - any-glob-to-any-file:
      - '.editorconfig'
      - '.flake8'
      - '.github/workflows/*'
      - '.pre-commit-config.yaml'
      - '.pylintrc.toml'
      - '.readthedocs.yml'
      - '.yamllint.yml'
      - 'Makefile'
      - 'docs/Makefile'
      - 'tox.ini'

'dependencies':
  - changes-files:
    - any-glob-to-any-file:
      - 'requirements*.txt'
      - 'environment*.yml'

'docs':
  - changed-files:
    - any-glob-to-any-file:
      - '.readthedocs.yml'
      - '.zenodo.json'
      - 'docs/**/*'
      - 'AUTHORS.rst'
      - 'CHANGELOG.rst'
      - 'CONTRIBUTING.md'
      - 'ISSUE_TEMPLATE.md'
      - 'PULL_REQUEST_TEMPLATE.md'
      - 'README.rst'

update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs

add project to Zenodo Birdhouse
  .zenodo.json
Labels: docs

Revert "Drop lxml"
  environment.yml
  pyproject.toml
  tests/_common.py
  tests/test_wps_xclim_indices.py
  tests/test_wps_xsubset_point.py
Labels: none

split environment.yml and environment-dev.yml
  .github/workflows/main.yml
  environment-dev.yml
Labels: CI

add deptry check and remove or rearrange dependencies
  Makefile
  pyproject.toml
Labels: CI

update CHANGELOG.rst
  CHANGELOG.rst
Labels: docs

Bump version: 0.13.3-dev.5 → 0.13.3-dev.6
  .cruft.json
  Dockerfile
  pyproject.toml
  src/finch/__version__.py
Labels: none

fix typos
  pyproject.toml
  src/finch/__version__.py
Labels: none

use prek on GitHub CI
  .github/workflows/main.yml
Labels: CI

cancel in progress if on branch main
  .github/workflows/docker-publish.yml
Labels: CI

use accurate docker image name
  .github/workflows/docker-publish.yml
Labels: CI

fix package requirements
  CHANGELOG.rst
  Dockerfile
  pyproject.toml
Labels: docs

further fixes and reduce docker build context in development
  .dockerignore
  Dockerfile
Labels: none

move dependencies to conda
  Dockerfile
  environment.yml
  pyproject.toml
Labels: none

use --uid 1001 nonroot as older step did
  Dockerfile
Labels: none

chown /code by nonroot to allow creating the finch.log file
  Dockerfile
Labels: none

proper workdir owner fix in docker
  Dockerfile
Labels: none

allow alternate custom-config/pid file paths
  CHANGELOG.rst
  Dockerfile
  docs/source/configuration.rst
  src/finch/cli.py
Labels: docs

fix invalid changelog references
  CHANGELOG.rst
  pyproject.toml
Labels: docs

apply docker build control variable auto-bump version
  pyproject.toml
Labels: none

fix doc
  docs/source/configuration.rst
Labels: docs

use site.getsitepackages()
  src/finch/cli.py
Labels: none

Update APP_VERSION to 0.13.3-dev.6
  Makefile
Labels: CI

fix bump config
  pyproject.toml
Labels: none

Bump version: 0.13.3-dev.6 → 0.14.0-dev.0
  .cruft.json
  Dockerfile
  Makefile
  pyproject.toml
  src/finch/__version__.py
Labels: CI

Bump version: 0.14.0-dev.0 → 0.14.0
  .cruft.json
  CHANGELOG.rst
  Dockerfile
  Makefile
  pyproject.toml
  src/finch/__version__.py
Labels: CI, docs

update dependencies and synchronize
  environment-dev.yml
  environment.yml
  pyproject.toml
Labels: none
