Repository bird-house/finch, pull requests merged in 2023-12, with the labels that each got.

#322 Fix cftime bug, no fail on pip check, pin xarray/pandas
  .github/workflows/bump-version-tag.yml
  .github/workflows/main.yml
  CHANGES.rst
  environment-docs.yml
  environment.yml
  finch/processes/utils.py
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
Labels: dependencies

#324 [Snyk] Security upgrade jupyter-server from 1.24.0 to 2.11.2
  requirements_dev.txt
Labels: dependencies

#326 [Snyk] Security upgrade numpy from 1.21.3 to 1.22.2
  requirements_docs.txt
Labels: dependencies

#328 [Snyk] Security upgrade fonttools from 4.38.0 to 4.43.0
  requirements_dev.txt
Labels: dependencies

#325 Use .bumpversion.toml configuration
  .bumpversion.toml
  .github/workflows/bump-version-tag.yml
  setup.cfg
Labels: enhancement

#329 Prepare v0.11.4
  CHANGES.rst
Labels: priority

#330 [Snyk] Security upgrade fonttools from 4.38.0 to 4.43.0
  requirements_docs.txt
Labels: dependencies
