Repository bird-house/finch, pull requests merged in 2024-12, with the labels that each got.

#427 Use xscen new
  .github/workflows/main.yml
  .pre-commit-config.yaml
  CHANGELOG.rst
  environment-docs.yml
  environment.yml
  finch/default.cfg
  finch/processes/__init__.py
  finch/processes/ensemble_utils.py
  finch/processes/modules/streamflow.yml
  finch/processes/utils.py
  finch/processes/wps_base.py
  finch/processes/wps_xclim_indices.py
  finch/processes/wpsio.py
  requirements.txt
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_wps_caps.py
  tests/test_wps_ensemble.py
  tests/test_wps_geoseries_to_netcdf.py
  tests/test_wps_xclim_indices.py
Labels: CI

#414 Update xclim
  .codacy.yml
  .github/workflows/docker-testing.yml
  .github/workflows/main.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  .yamllint.yaml
  CHANGELOG.rst
  environment-docs.yml
  environment.yml
  finch/datasets.yml
  finch/processes/__init__.py
  finch/processes/ensemble_utils.py
  finch/processes/modules/humidex.yml
  finch/processes/modules/streamflow.yml
  finch/processes/utils.py
  finch/processes/wps_base.py
  finch/processes/wps_xclim_indices.py
  finch/processes/wpsio.py
  requirements.txt
  requirements_dev.txt
  requirements_docs.txt
  requirements_prod.txt
  setup.cfg
  setup.py
  tests/conftest.py
  tests/test_data.yml
  tests/test_wps_caps.py
  tests/test_wps_ensemble.py
  tests/test_wps_geoseries_to_netcdf.py
  tests/test_wps_xclim_indices.py
Labels: help wanted, priority, CCDP, docs, CI

#434 Fix call flag order in CI installation
  .github/workflows/bump-version-tag.yml
Labels: bug, CI
