Repository bird-house/finch, pull requests merged in 2024-03, with the labels that each got.

#348 finch-usage.ipynb: fix erronous URL output change breaking Jenkins
  docs/source/notebooks/finch-usage.ipynb
Labels: docs

#350 Packaging fixes
  .github/workflows/main.yml
  .pre-commit-config.yaml
  LICENSE
  finch/__init__.py
  requirements_dev.txt
Labels: CI

#349 re-add OUTPUT_URL
  .github/workflows/main.yml
  .pre-commit-config.yaml
  LICENSE
  Makefile
  docs/source/notebooks/dap_subset.ipynb
  docs/source/notebooks/finch-usage.ipynb
  finch/__init__.py
  requirements_dev.txt
Labels: docs, CI

#351 Docs and pip packaging
  .cruft.json
  .gitignore
  CHANGES.rst
  MANIFEST.in
  Makefile
  docs/source/configuration.rst
  docs/source/deploying.rst
  docs/source/dev_guide.rst
  docs/source/index.rst
  docs/source/installation.rst
  docs/source/notebooks/index.rst
  docs/source/processes.rst
  docs/source/processes/ensemble.rst
  docs/source/processes/indicators.rst
  docs/source/processes/other.rst
  finch/processes/virtual.py
  setup.cfg
  setup.py
Labels: priority, docs, CI

#352 Prepare v0.12.0, conditional bump version
  .bumpversion.toml
  .cruft.json
  .github/workflows/bump-version-tag.yml
  CHANGES.rst
  Dockerfile
  docs/source/conf.py
  finch/__version__.py
Labels: priority, docs, CI
